<p>All Posts</p>

<ul>
<% @posts.each do |p| %>
	<li>
	<%= p.description %>
	<%= link_to "Go!", p.link %>

	<ul>
		<%= render p.comments %>
		<li><%= render 'comments/form', comment: p.comments.build, post: p %></li>
	</ul>

	<%= p.user.try(:name) %>
</li>
<% end %>
</ul>
<%= link_to "New Post", new_post_path %>
